
.icon-mail:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-user-1:before { content: '\e803'; } /* '' */
.icon-emo-laugh:before { content: '\e804'; } /* '' */